<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>quote.php</string>
			<key>Title</key>
			<string>Add Quote</string>
			<key>Image File</key>
			<string>quote.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Add quotation marks at the beginning of a line. For example, 'too good to be true' becomes '> too good to be true'.</string>
	<key>Extension Identifier</key>
	<string>com.dna-softwares.at.ruw.addquote</string>
	<key>Extension Name</key>
	<string>Add Quote</string>
</dict>
</plist>
